[submodule "csharp/spec-umbiliko-core-cs"]
	path = csharp/spec-umbiliko-core-cs
	url = https://github.com/specfocus/spec-umbiliko-core-cs.git
[submodule "data/spec-sqlserver-bak"]
	path = data/spec-sqlserver-bak
	url = https://github.com/specfocus/spec-sqlserver-bak.git
[submodule "machines"]
	path = machines
	url = https://github.com/specfocus/machines.git
[submodule "node/packages/eslint-config-custom"]
	path = node/packages/eslint-config-custom
	url = https://github.com/specfocus/eslint-config-custom.git
[submodule "node/packages/eslint-config-custom-server"]
	path = node/packages/eslint-config-custom-server
	url = https://github.com/specfocus/eslint-config-custom-server.git
[submodule "node/packages/jest-presets"]
	path = node/packages/jest-presets
	url = https://github.com/specfocus/jest-presets.git
[submodule "node/packages/logger"]
	path = node/packages/logger
	url = https://github.com/specfocus/logger.git
[submodule "node/packages/tsconfig"]
	path = node/packages/tsconfig
	url = https://github.com/specfocus/tsconfig.git
[submodule "node/packages/spec-types"]
	path = node/packages/spec-types
	url = git@github.com:specfocus/spec-types-ts.git
[submodule "node/packages/spec-fakes"]
	path = node/packages/spec-fakes
	url = git@github.com:specfocus/spec-fakes-ts.git
[submodule "node/packages/spec-ql"]
	path = node/packages/spec-ql
	url = git@github.com:specfocus/spec-ql-ts.git
[submodule "node/packages/spec-gql"]
	path = node/packages/spec-gql
	url = git@github.com:specfocus/spec-gql-ts.git
[submodule "node/packages/spec-mql"]
	path = node/packages/spec-mql
	url = git@github.com:specfocus/spec-mql-ts.git
[submodule "node/packages/spec-sql"]
	path = node/packages/spec-sql
	url = git@github.com:specfocus/spec-sql-ts.git
[submodule "node/packages/spec-dd"]
	path = node/packages/spec-dd
	url = git@github.com:specfocus/spec-dd-ts.git
[submodule "node/apps/play-dd-next"]
	path = node/apps/play-dd-next
	url = git@github.com:specfocus/play-dd-next-ts.git
[submodule "node/packages/work-kit"]
	path = node/packages/work-kit
	url = git@github.com:specfocus/work-kit-ts.git
[submodule "node/packages/spec-mssql-mongodb"]
	path = node/packages/spec-mssql-mongodb
	url = git@github.com:specfocus/spec-mssql-mongodb-ts.git
